<header class="app-header">
  <h1 class="header-title" routerLink="/">모에몬 리덕스 오렌지에디션 3.24</h1>
  <div 
    class="hamburger-button" 
    (click)="toggleMenu()"
    [ngClass]="{ 'active': isMenuOpen }"
  >
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>

<nav 
  class="nav-menu" 
  [ngClass]="{ 'active': isMenuOpen }"
>
  <ul>
    <li><a routerLink="/pokedex" (click)="toggleMenu()">포켓몬 도감</a></li>
    <li><a routerLink="/defense" (click)="toggleMenu()">방어상성</a></li>
    <li><a routerLink="/wild" (click)="toggleMenu()">야생 포켓몬</a></li>
    <!-- <li><a routerLink="/getcha" (click)="toggleMenu()">포켓몬 획득 정보</a></li>
    <li><a routerLink="/legend" (click)="toggleMenu()">전설의 포켓몬</a></li>
    <li><a routerLink="/trainer" (click)="toggleMenu()">트레이너 정보</a></li> -->
    <li><a routerLink="/item" (click)="toggleMenu()">아이템 변경</a></li>
  </ul>
</nav>