
/* 등장 위치 섹션 */
.pokemon-location {
  font-size: 0.85em;
  color: #555;
  text-align: left;
}
.pokemon-location strong {
  color: #007bff;
}
.location-entry {
  margin-bottom: 3px;
  line-height: 1.3;
}

.location-entry div:first-child::before {
  content: "·";
  display: inline-block;
  width: 8px;
}

.location-entry div:not(:first-child) {
  margin-left: 8px;
}