@import "_base-section.less";

section {
  max-width: 900px;
  margin: 0 auto;
}

.item-section {
  &:extend(.base-section);

  h2 {
    &:extend(.base-section-h2);
  }
  .search-controls {
    &:extend(.base-section-search-control);

    input#item-search {
      &:extend(.base-section-search-input);
    }
    input#item-search:focus {
      &:extend(.base-section-search-input:focus);
    }
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-section {
  .location-header h2.strike-through {
    text-decoration: line-through;
    color: #888;
  }
}
.item-list-container {
  padding: 10px;
  background-color: #fff;
}

.strike-through {
  text-decoration: line-through;
  color: #888;
}
