<section class="item-section">
  @for (itemData of itemDatas; track $index; let locationIndex = $index) {
    <div class="location-section">
      <div class="location-header" (click)="toggleExpand(locationIndex)">
        <h2
          [class.strike-through]="
            isLocationItemTaken(locationIndex, itemData.itemList)
          "
        >
          {{ itemData.location }}
        </h2>
      </div>

      @if (expandedLocation === locationIndex) {
        <div>
          <table>
            <thead>
              <tr>
                <th>아이템 목록</th>
                <th>상태</th>
              </tr>
            </thead>
            <tbody>
              @for (
                item of itemData.itemList;
                track $index;
                let itemIndex = $index
              ) {
                @let takenVar = isItemTaken(locationIndex, itemIndex);
                <tr
                  (click)="toggleItemStatus(locationIndex, itemIndex)"
                  [class.strike-through]="takenVar"
                >
                  <td>{{ item }}</td>
                  <td>
                    {{ takenVar ? "●" : "○" }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  }
</section>
