<main class="pokedex-page">
  <section class="search-section">
    <h2>포켓몬 검색</h2>
    <div class="search-controls">
      <input
        type="text"
        id="pokemonSearchInput"
        placeholder="포켓몬 이름, 도감번호를 검색하세요..."
        [(ngModel)]="pokemonSearchInput"
        (keyup.enter)="onSearchButtonClick()"
        autocomplete="off"
      />
      <button id="searchButton" (click)="onSearchButtonClick()">검색</button>
    </div>

    @if (noResultsMessage) {
      <p id="noResultsMessage">{{ noResultsMessage }}</p>
    }
    <div id="searchResults" class="pokemon-grid">
      @for (pokemon of searchResults; track pokemon.id) {
        <div class="pokemon-card-wrapper">
          <app-pokemon-card [pokemon]="pokemon" [useSprite]="pokemonUseSprite">
          </app-pokemon-card>
        </div>
      }
    </div>
  </section>
  <nav class="pagination-container">
    <ul class="pagination-list">
      <li
        class="pagination-item prev"
        [class.disabled]="pokemonSearchOffset === 0"
      >
        <button style="width: 100%" (click)="onPageButtonClick(false)">
          <
        </button>
      </li>
      <li class="pagination-item next">
        <button style="width: 100%" (click)="onPageButtonClick(true)">></button>
      </li>
    </ul>
  </nav>
</main>
