<div *ngIf="gameVersion == 'orange_v3'">
  <h2>이미지 업로드</h2>
  <p>오렌지 에디션의 Sheet 업로드 시, 전용 스프라이트로 보입니다.</p>

  <div class="input-group">
    <label for="imageUploadPink">Pink 업로드</label>
    <input
      type="file"
      id="imageUploadPink"
      accept="image/*"
      (change)="onFileSelected($event, 'pink')"
    />
    <span id="fileNamePink" class="file-name"></span>
  </div>

  <div class="input-group">
    <label for="imageUploadRed">Red 이미지 업로드</label>
    <input
      type="file"
      id="imageUploadRed"
      accept="image/*"
      (change)="onFileSelected($event, 'red')"
    />
    <span id="fileNameRed" class="file-name"></span>
  </div>

  <div class="input-group">
    <label for="imageUploadForm">Form 이미지 업로드</label>
    <input
      type="file"
      id="imageUploadForm"
      accept="image/*"
      (change)="onFileSelected($event, 'forms')"
    />
    <span id="fileNameForm" class="file-name"></span>
  </div>
</div>

<div>
  <p>도감 출력이 이상하다면 다음 버튼을 클릭해서 데이터를 삭제해주세요</p>
  <button id="deleteDbBtn" (click)="onDeleteDb()">스프라이트 삭제</button>
</div>

<div class="sprite-card-container">
  <!-- 진행률 표시 및 블러 오버레이 -->
  <div *ngIf="isSplitting" class="loading-overlay">
    <div class="progress-box">
      <h3>이미지를 저장 중...</h3>
      <progress [value]="progress" max="100"></progress>
      <p>{{ progress }}%</p>
    </div>
  </div>
</div>
