@import "_base-section.less";

section {
  max-width: 900px;
  margin: 0 auto;
}

.wild-section {
  &:extend(.base-section);

  h2 {
    &:extend(.base-section-h2);
  }

  .search-controls {
    &:extend(.base-section-search-control);

    input#item-search {
      &:extend(.base-section-search-input);
    }
    input#item-search:focus {
      &:extend(.base-section-search-input:focus);
    }
  }
}

.wild-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.location-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1em;
    color: #333;
    margin: 0;
  }
}
