<section>
  @for (locationData of wildData; track locationData; let i = $index) {
    <div
      class="location-section"
      [id]="'location-section-' + i"
      [class.strike-through]=""
    >
      <div class="summary" (click)="toggleChild(i)">
        <h2>{{ locationData.locationName }}</h2>
      </div>

      <app-wild-region
        [regionDatas]="locationData.regionDatas"
        [pokemonCatchStatus]="pokemonCatchStatus"
        (pokemonCaught)="handlePokemonCaught($event)"
      >
      </app-wild-region>
    </div>
  }
</section>
