<section class="card-box">
  <app-sprite-card></app-sprite-card>
</section>

<section class="card-box">
  <div class="patch-note">
    <div>패치노트</div>
    <div>
      - 야생 포켓몬 탭에 포켓몬 포획여부를 나타내는 표시 추가: 이름 클릭 및
      포켓볼 클릭으로 포획 관리
    </div>
    <div>- 아이템 획득 정보 페이지: 클릭을 통해 획득/미획득 관리</div>
    <div>- 진화 조건 및 기타 서식 정보 추가</div>
    <div>- 이슈 제보 링크 추가</div>
    <div>- 도감번호 검색 기능 추가</div>
  </div>
</section>

<section class="issue-send">
  <a [href]="contactFormUrl" target="_blank">이슈 제보 링크</a>
</section>
